In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Data/Zillow/Zip_zhvi_uc_sfrcondo_tier_0.33_0.67_sm_sa_mon.csv', sep=',')

In [3]:
df.head()

,RegionID,SizeRank,RegionName,RegionType,StateName,State,City,Metro,CountyName,1996-01-31,...,2020-01-31,2020-02-29,2020-03-31,2020-04-30,2020-05-31,2020-06-30,2020-07-31,2020-08-31,2020-09-30,2020-10-31
0,61639,0,10025,Zip,NY,NY,New York,New York-Newark-Jersey City,New York County,223469.0,...,1152491.0,1129471.0,1101051.0,1088618.0,1078931.0,1075287.0,1072738.0,1072625.0,1075648.0,1073416.0
1,84654,1,60657,Zip,IL,IL,Chicago,Chicago-Naperville-Elgin,Cook County,205864.0,...,476938.0,478070.0,479687.0,480848.0,481240.0,481907.0,483484.0,485902.0,489188.0,492585.0
2,61637,2,10023,Zip,NY,NY,New York,New York-Newark-Jersey City,New York County,227596.0,...,1105727.0,1118319.0,1118234.0,1126375.0,1129930.0,1132927.0,1133142.0,1136998.0,1149940.0,1152889.0
3,91982,3,77494,Zip,TX,TX,Katy,Houston-The Woodlands-Sugar Land,Harris County,202808.0,...,339589.0,339794.0,340299.0,341466.0,342543.0,343323.0,343861.0,344957.0,346034.0,347871.0
4,84616,4,60614,Zip,IL,IL,Chicago,Chicago-Naperville-Elgin,Cook County,276752.0,...,619001.0,619244.0,619927.0,619687.0,619649.0,619916.0,621376.0,623279.0,626620.0,629989.0